*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    min-height: 25vh;
}

main{
    min-height: 70vh;
    width: 100vw;
}

footer{
    min-height: 5vh;
}

.header_container{
    background-image: url(./el_auto.jpg.jpeg);
    min-height: 25vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -300px;
    background-attachment: fixed;
}

h1{
    text-align: end;
    background-color: rgba(128, 128, 128, 0.315);
    color: white;
    padding-right: 100px;
}

.container_principal{
    width: 80%;
    margin: auto;
    background-color: rgb(197, 18, 18);
    min-height: 70vh;
}

.productos{
    text-align: center;
    padding: 20px;
}

.card{
    background-color: white;
    width: 200px;
    height: 250px;
    display: inline-block;
    margin: 20px;
    text-align: center;
    padding-top: 10px;
    border-radius: 15px;
}

.card > img{
    width: 80%;
    height: auto;
    
}